h1 {
	color: steelblue;
}

.post {
	text-decoration: underline;
	cursor: pointer;
	overflow: hidden;
}

.logo {
	width: 200px;
	text-align: center;
	margin: auto;

	img {
		width: 100%;
		height: auto;
	}
}

