<h1>PPS Connect PDX FTW!</h1>
<div class='logo'>
	<img src='images/logo.png'/>
</div>
<div>
	<button on-tap='addPost()'>Add A New Post</button>
</div>

{{#if addingPost}}
	<add-post/>
{{/if}}

{{#if viewingPost}}
	<view-post post='{{selectedPost}}'/>
{{/if}}

{{#each posts}}
<li on-tap='viewPost(this)' >
	<div on-tap='viewPost(this)' class='user'>Rank: {{rank}}</div>
	<div on-tap='viewPost(this)'>User: {{username}}</div>
	<div on-tap='viewPost(this)' class='post'>{{post}}</div>
</li>
{{/each}}

<!-- add new posts -->
<!--
<input value='{{message}}'>
<button on-tap='add(message)'>Add</button>
-->
<!-- show post and allow comments -->
